.page-title {
    color: #000000a8;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.form-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #3c3232e0;
    padding-top: 20px;
}

.option-title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    color: #080808a6;
}

.full-page-container{
    background: #0000000a;
    padding: 15px;
    margin-top: 20px;
}

.second-column{
    text-align: center;
}

.receipt-page-container{
    background: #0000000a;
    padding: 2px 0 25px 0;
}